{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Định Giá Nhà Đất - HuuDangLand</title>
    <link rel="icon" href="{% static 'homepage/img/HdangLand_xanhluc_final.png' %}" type="image/x-icon" >
    <link rel="stylesheet" href=" {% static 'homepage/css/style.css'%}">
    <link rel="stylesheet" href=" {% static 'homepage/css/detail.css'%}">
    <link rel="stylesheet" href=" {% static 'homepage/css/modal.css' %}">
    <link rel="stylesheet" href=" {% static 'homepage/fonts/themify-icons/themify-icons.css'%} ">
</head>
<body>
    <div id="main">
        <!--Begin Header-->
        <header class="header">
            <div class="nav">
                <ul class="nav-list">
                    <li class="nav-items item-left">Định Giá Nhà Đất</li>
                </ul>

                {% if user.is_authenticated %}

                    <ul class="nav-list item-right">

                    <a href="#" style="text-decoration: none">
                        <li class="nav-items item-right-1"><i>Xin chào</i>, {{ user.name_customer }}</li>
                    </a>

                    <a onclick="myFunction()" id="clickLogout">
                        <li class="nav-items">Đăng xuất</li>
                    </a>


                </ul>
                {% else %}
                <ul class="nav-list item-right">
                    <a href="{% url 'register' %}?next={{ request.path }}" style="text-decoration: none">
                        <li class="nav-items item-right-1">Đăng ký</li>
                    </a>

                    <a href="{% url 'login' %}?next={{ request.path }}">
                        <li class="nav-items">Đăng nhập</li>
                    </a>


                </ul>
                {% endif %}
                
            </div>

            <div class="header-item">
                
                <a href="{% url 'index' %}"><img src="{% static 'homepage/img/HdangLand_xanhluc_final.png'%}" alt="" class="logo-bds"></a>
                <div class="header-search">
                    <form action="{% url 'index' %}" method="get">
                        {% csrf_token %}
                         <div class="frame-search-input">
                        <input type="text" name="search" class="search-input" placeholder="Tìm kiếm sản phẩm tại đây">
                             <input class="search-icon" type="submit" value="Tìm kiếm">
<!--                        <div class="ti-search search-icon"></div>-->
                    </div>
                    </form>

                </div>
            </div>
            <a href="{% url 'predict-product' %}">
                <i class="predict-class">Định giá tại đây!</i>
            </a>
            {% if user.is_staff %}
            <a href="{% url 'manage-page' %}" class="manage-page">Vào trang quản lý</a>
            {% endif %}
        </header>
        <!--End Header-->

        <!--Begin Container-->
        <div class="container">
            <div class="content">
                <!--Begin Filter-->
                <div class="position-fixed">
                    <form action="{% url 'index' %}" method="get">
                        {% csrf_token %}
                        <div class="content-filter">
                        <div class="filter-list">
                            <div class="filter-list-item">
                                <span class="filter-topic">Loại Nhà Đất:</span>
                                <select name="loai-bds" id="" class="filter-select">
                                    <option value="">-- Loại Nhà Đất --</option>
                                    <option value="nha_o">Nhà ở</option>
                                    <option value="dat_nen">Đất nền</option>
                                </select>
                            </div>
                            <div class="filter-list-item">
                                <span class="filter-topic">Địa Điểm:</span>
                                <select name="dia-diem" id="" class="filter-select">
                                    <option value="">-- Quận/Phường/Khu vực --</option>
                                    <option value="Ninh Kiều">Quận Ninh Kiều</option>
                                    <option value="Cái Răng">Quận Cái Răng</option>
                                    <option value="Bình Thủy">Quận Bình Thủy</option>
                                    <option value="Ô môn">Quận Ô Môn</option>
                                    <option value="Thốt Nốt">Quận Thốt Nốt</option>

                                </select>
                            </div>
                            <div class="filter-list-item">
                                <span class="filter-topic">Giá Bán:</span>
                                <select name="price-filter" class="filter-select">
                                    <option value="">-- Giá Bán --</option>
                                    <option value="lessthan1ty">Dưới 1 Tỷ</option>
                                    <option value="fr1tyto5ty">Từ 1 Tỷ Đến 5 Tỷ</option>
                                    <option value="fr5tyto10ty">Từ 5 Tỷ Đến 10 Tỷ</option>
                                    <option value="morethan10ty">Từ 10 Tỷ Trở Lên</option>
                                </select>
                            </div>
                            <div class="filter-list-item">
                                <span class="filter-topic">Thứ Tự Sắp Xếp:</span>
                                <select name="sort-filter" class="filter-select">
                                    <option value="">-- Sắp Xếp --</option>
                                    <option value="price">Giá Trị Tăng Dần</option>
                                    <option value="-price">Giá Trị Giảm Dần</option>
                                </select>
                            </div>

                            <input class="filter-btn" value="Lọc" type="submit" style="border: none">

                        </div>
                    </div>
                    </form>

                </div>
                <!--End Filter-->

                <!--Begin Product List-->
                <div class="product-list">


                    {% for i in product_all %}
                    <input type="hidden" value="{{ i.image_folder }}">
                    <a href="{% url 'detail' i.id %}">
                        <div class="product-item">
                        <img src="{{ i.image }}" alt="" class="product-img">
                        <div class="product-body">
                            <h3 class="product-name">{{ i.title }}</h3>
                            <div class="product-price"><i>Click vào sản phẩm để xem chi tiết</i></div>
                            <div class="product-place">
                                {{ i.address }}
                            </div>

                        </div>
                    </div>
                    </a>
                    {% endfor %}


                    <div style="clear:left"></div>
                    <div style="text-align: center;">


                        <div class="site-list-product">
                            <ul>
                                {% if product_all.has_previous %}
                                <li><a href="?page={{ product_all.previous_page_number }}">&laquo;</a></li>
                                {% endif %}
                                {% if product_all.number > 3 %}
                                <li><a href="?page=1"><i>1</i></a></li>
                                {% endif %}
                                {% for i in product_all.paginator.page_range %}
                                {% if i > product_all.number|add:"-3" %}
                                    {% if i < product_all.number|add:"3" %}
                                        {% if product_all.number == i %}
                                <li class="current">{{ i }}</li>
                                {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endif %}
                            {% endif %}
                            {% endfor %}

                                {% if product_all.number < product_all.paginator.num_pages|add:"-3" %}
                                <li><a href="?page={{ product_all.paginator.num_pages }}"><i>{{ product_all.paginator.num_pages }}</i></a></li>
                                {% endif %}
                                {% if product_all.has_next %}
                                <li><a href="?page={{ product_all.next_page_number }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--End Product List-->
            </div>
        </div>
        <!--End Container-->

    </div>
    <script>
            function myFunction() {
                  var a = document.getElementById('clickLogout');
                  let text = "Bạn muốn đăng xuất?";
                  if (confirm(text) == true) {
                    a.href = "{% url 'logout' %}?next={{ request.path }}";

                  }

                }
        </script>
</body>
</html>