{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký Thành viên - Định Giá Nhà Đất</title>
    <link rel="icon" href="{% static 'homepage/img/logo-bds.png' %}" type="image/x-icon" >
    <link rel="stylesheet" href=" {% static 'homepage/css/form.css'%}">
    <link rel="stylesheet" href=" {% static 'homepage/fonts/themify-icons/themify-icons.css'%} ">
    <style>
        .mess {
            color: red;
            font-style: italic;
            margin-left: 64px;

        }
    </style>
</head>
<body>
    <div id="main">
        

        <div class="modal js-modal-signin">
            <a href="{{ request.GET.next }}" class="back-page"><i class="ti-arrow-left"></i> Trở về</a>
    <div class="modal-container js-modal-container">
        <div class="modal-close js-modal-close">
            <i class="ti-close"></i>
        </div>

        <div class="modal-header">
            Đăng ký Thành viên
        </div>
        <p class="mess">{{ mess }}</p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="modal-body">
            <div class="modal-item">

                <label for="modal-signin-phone" class="modal-label">
                    Số điện thoại:
                </label>
                <input type="text" id="modal-signin-phone" class="modal-input" placeholder="Số điện thoại" name="phone-register">

            </div>

            <div class="modal-item">

                <label for="modal-signin-name" class="modal-label">
                    Họ và tên:
                </label>
                <input type="text" id="modal-signin-name" class="modal-input" placeholder="Họ và tên" name="name-register">
            </div>

            <div class="modal-item">

                <label for="modal-signin-password" class="modal-label">
                    Mật khẩu:
                </label>
                <input type="password" id="modal-signin-password" class="modal-input" placeholder="Mật khẩu" name="password-register">
            </div>

            <div class="modal-item">

                <label for="modal-signin-birthday" class="modal-label">
                    Ngày, tháng, năm sinh:
                </label>
                <input type="date" id="modal-signin-birthday" class="modal-input" name="birthday-register">
            </div>

            <div class="modal-item">
                <label for="" class="modal-label">
                    Giới tính:
                </label>

                <span class="radio-check">

                    <div class="modal-input1">

                        <input type="radio" checked="checked" class="modal-input-male" name="modal-radio" id="1" value="3">
                        <label for="1" class="radio">Nam
                        </label>
                    </div>

                    <div class="modal-input1">

                        <input type="radio" class="modal-input-female" name="modal-radio" id="2" value="4">
                        <label for="2" class="radio">Nữ
                        </label>
                    </div>
                </span>

            </div>

            <input type="hidden" name="next" value="{% url 'login' %}"/>

            <button class="modal-btn" type="submit">
                Đăng ký
            </button>
        </div>
        </form>


        <footer class="modal-footer">
            Bạn đã là thành vên? <a href="{% url 'login' %}?next={{ request.path }}" class="js-to-login">Đăng nhập</a>
        </footer>
    </div>
</div>
    </div>
</body>
</html>